.danger-99 {
  color: #fff;
  background: rgba(244, 67, 54, 0.99);
  background-color: rgba(244, 67, 54, 0.99);
}
.info-99 {
  color: #fff;
  background: rgba(33, 150, 243, 0.99);
  background-color: rgba(33, 150, 243, 0.99);
}
.success-99 {
  color: #fff;
  background: rgba(76, 175, 80, 0.99);
  background-color: rgba(76, 175, 80, 0.99);
}
.warning-99 {
  color: #fff;
  background: rgba(255, 87, 34, 0.99);
  background-color: rgba(255, 87, 34, 0.99);
}
.danger-98 {
  color: #fff;
  background: rgba(244, 67, 54, 0.98);
  background-color: rgba(244, 67, 54, 0.98);
}
.info-98 {
  color: #fff;
  background: rgba(33, 150, 243, 0.98);
  background-color: rgba(33, 150, 243, 0.98);
}
.success-98 {
  color: #fff;
  background: rgba(76, 175, 80, 0.98);
  background-color: rgba(76, 175, 80, 0.98);
}
.warning-98 {
  color: #fff;
  background: rgba(255, 87, 34, 0.98);
  background-color: rgba(255, 87, 34, 0.98);
}
.danger-97 {
  color: #fff;
  background: rgba(244, 67, 54, 0.97);
  background-color: rgba(244, 67, 54, 0.97);
}
.info-97 {
  color: #fff;
  background: rgba(33, 150, 243, 0.97);
  background-color: rgba(33, 150, 243, 0.97);
}
.success-97 {
  color: #fff;
  background: rgba(76, 175, 80, 0.97);
  background-color: rgba(76, 175, 80, 0.97);
}
.warning-97 {
  color: #fff;
  background: rgba(255, 87, 34, 0.97);
  background-color: rgba(255, 87, 34, 0.97);
}
.danger-96 {
  color: #fff;
  background: rgba(244, 67, 54, 0.96);
  background-color: rgba(244, 67, 54, 0.96);
}
.info-96 {
  color: #fff;
  background: rgba(33, 150, 243, 0.96);
  background-color: rgba(33, 150, 243, 0.96);
}
.success-96 {
  color: #fff;
  background: rgba(76, 175, 80, 0.96);
  background-color: rgba(76, 175, 80, 0.96);
}
.warning-96 {
  color: #fff;
  background: rgba(255, 87, 34, 0.96);
  background-color: rgba(255, 87, 34, 0.96);
}
.danger-95 {
  color: #fff;
  background: rgba(244, 67, 54, 0.95);
  background-color: rgba(244, 67, 54, 0.95);
}
.info-95 {
  color: #fff;
  background: rgba(33, 150, 243, 0.95);
  background-color: rgba(33, 150, 243, 0.95);
}
.success-95 {
  color: #fff;
  background: rgba(76, 175, 80, 0.95);
  background-color: rgba(76, 175, 80, 0.95);
}
.warning-95 {
  color: #fff;
  background: rgba(255, 87, 34, 0.95);
  background-color: rgba(255, 87, 34, 0.95);
}
.danger-94 {
  color: #fff;
  background: rgba(244, 67, 54, 0.94);
  background-color: rgba(244, 67, 54, 0.94);
}
.info-94 {
  color: #fff;
  background: rgba(33, 150, 243, 0.94);
  background-color: rgba(33, 150, 243, 0.94);
}
.success-94 {
  color: #fff;
  background: rgba(76, 175, 80, 0.94);
  background-color: rgba(76, 175, 80, 0.94);
}
.warning-94 {
  color: #fff;
  background: rgba(255, 87, 34, 0.94);
  background-color: rgba(255, 87, 34, 0.94);
}
.danger-93 {
  color: #fff;
  background: rgba(244, 67, 54, 0.93);
  background-color: rgba(244, 67, 54, 0.93);
}
.info-93 {
  color: #fff;
  background: rgba(33, 150, 243, 0.93);
  background-color: rgba(33, 150, 243, 0.93);
}
.success-93 {
  color: #fff;
  background: rgba(76, 175, 80, 0.93);
  background-color: rgba(76, 175, 80, 0.93);
}
.warning-93 {
  color: #fff;
  background: rgba(255, 87, 34, 0.93);
  background-color: rgba(255, 87, 34, 0.93);
}
.danger-92 {
  color: #fff;
  background: rgba(244, 67, 54, 0.92);
  background-color: rgba(244, 67, 54, 0.92);
}
.info-92 {
  color: #fff;
  background: rgba(33, 150, 243, 0.92);
  background-color: rgba(33, 150, 243, 0.92);
}
.success-92 {
  color: #fff;
  background: rgba(76, 175, 80, 0.92);
  background-color: rgba(76, 175, 80, 0.92);
}
.warning-92 {
  color: #fff;
  background: rgba(255, 87, 34, 0.92);
  background-color: rgba(255, 87, 34, 0.92);
}
.danger-91 {
  color: #fff;
  background: rgba(244, 67, 54, 0.91);
  background-color: rgba(244, 67, 54, 0.91);
}
.info-91 {
  color: #fff;
  background: rgba(33, 150, 243, 0.91);
  background-color: rgba(33, 150, 243, 0.91);
}
.success-91 {
  color: #fff;
  background: rgba(76, 175, 80, 0.91);
  background-color: rgba(76, 175, 80, 0.91);
}
.warning-91 {
  color: #fff;
  background: rgba(255, 87, 34, 0.91);
  background-color: rgba(255, 87, 34, 0.91);
}
.danger-90 {
  color: #fff;
  background: rgba(244, 67, 54, 0.9);
  background-color: rgba(244, 67, 54, 0.9);
}
.info-90 {
  color: #fff;
  background: rgba(33, 150, 243, 0.9);
  background-color: rgba(33, 150, 243, 0.9);
}
.success-90 {
  color: #fff;
  background: rgba(76, 175, 80, 0.9);
  background-color: rgba(76, 175, 80, 0.9);
}
.warning-90 {
  color: #fff;
  background: rgba(255, 87, 34, 0.9);
  background-color: rgba(255, 87, 34, 0.9);
}
.danger-89 {
  color: #fff;
  background: rgba(244, 67, 54, 0.89);
  background-color: rgba(244, 67, 54, 0.89);
}
.info-89 {
  color: #fff;
  background: rgba(33, 150, 243, 0.89);
  background-color: rgba(33, 150, 243, 0.89);
}
.success-89 {
  color: #fff;
  background: rgba(76, 175, 80, 0.89);
  background-color: rgba(76, 175, 80, 0.89);
}
.warning-89 {
  color: #fff;
  background: rgba(255, 87, 34, 0.89);
  background-color: rgba(255, 87, 34, 0.89);
}
.danger-88 {
  color: #fff;
  background: rgba(244, 67, 54, 0.88);
  background-color: rgba(244, 67, 54, 0.88);
}
.info-88 {
  color: #fff;
  background: rgba(33, 150, 243, 0.88);
  background-color: rgba(33, 150, 243, 0.88);
}
.success-88 {
  color: #fff;
  background: rgba(76, 175, 80, 0.88);
  background-color: rgba(76, 175, 80, 0.88);
}
.warning-88 {
  color: #fff;
  background: rgba(255, 87, 34, 0.88);
  background-color: rgba(255, 87, 34, 0.88);
}
.danger-87 {
  color: #fff;
  background: rgba(244, 67, 54, 0.87);
  background-color: rgba(244, 67, 54, 0.87);
}
.info-87 {
  color: #fff;
  background: rgba(33, 150, 243, 0.87);
  background-color: rgba(33, 150, 243, 0.87);
}
.success-87 {
  color: #fff;
  background: rgba(76, 175, 80, 0.87);
  background-color: rgba(76, 175, 80, 0.87);
}
.warning-87 {
  color: #fff;
  background: rgba(255, 87, 34, 0.87);
  background-color: rgba(255, 87, 34, 0.87);
}
.danger-86 {
  color: #fff;
  background: rgba(244, 67, 54, 0.86);
  background-color: rgba(244, 67, 54, 0.86);
}
.info-86 {
  color: #fff;
  background: rgba(33, 150, 243, 0.86);
  background-color: rgba(33, 150, 243, 0.86);
}
.success-86 {
  color: #fff;
  background: rgba(76, 175, 80, 0.86);
  background-color: rgba(76, 175, 80, 0.86);
}
.warning-86 {
  color: #fff;
  background: rgba(255, 87, 34, 0.86);
  background-color: rgba(255, 87, 34, 0.86);
}
.danger-85 {
  color: #fff;
  background: rgba(244, 67, 54, 0.85);
  background-color: rgba(244, 67, 54, 0.85);
}
.info-85 {
  color: #fff;
  background: rgba(33, 150, 243, 0.85);
  background-color: rgba(33, 150, 243, 0.85);
}
.success-85 {
  color: #fff;
  background: rgba(76, 175, 80, 0.85);
  background-color: rgba(76, 175, 80, 0.85);
}
.warning-85 {
  color: #fff;
  background: rgba(255, 87, 34, 0.85);
  background-color: rgba(255, 87, 34, 0.85);
}
.danger-84 {
  color: #fff;
  background: rgba(244, 67, 54, 0.84);
  background-color: rgba(244, 67, 54, 0.84);
}
.info-84 {
  color: #fff;
  background: rgba(33, 150, 243, 0.84);
  background-color: rgba(33, 150, 243, 0.84);
}
.success-84 {
  color: #fff;
  background: rgba(76, 175, 80, 0.84);
  background-color: rgba(76, 175, 80, 0.84);
}
.warning-84 {
  color: #fff;
  background: rgba(255, 87, 34, 0.84);
  background-color: rgba(255, 87, 34, 0.84);
}
.danger-83 {
  color: #fff;
  background: rgba(244, 67, 54, 0.83);
  background-color: rgba(244, 67, 54, 0.83);
}
.info-83 {
  color: #fff;
  background: rgba(33, 150, 243, 0.83);
  background-color: rgba(33, 150, 243, 0.83);
}
.success-83 {
  color: #fff;
  background: rgba(76, 175, 80, 0.83);
  background-color: rgba(76, 175, 80, 0.83);
}
.warning-83 {
  color: #fff;
  background: rgba(255, 87, 34, 0.83);
  background-color: rgba(255, 87, 34, 0.83);
}
.danger-82 {
  color: #fff;
  background: rgba(244, 67, 54, 0.82);
  background-color: rgba(244, 67, 54, 0.82);
}
.info-82 {
  color: #fff;
  background: rgba(33, 150, 243, 0.82);
  background-color: rgba(33, 150, 243, 0.82);
}
.success-82 {
  color: #fff;
  background: rgba(76, 175, 80, 0.82);
  background-color: rgba(76, 175, 80, 0.82);
}
.warning-82 {
  color: #fff;
  background: rgba(255, 87, 34, 0.82);
  background-color: rgba(255, 87, 34, 0.82);
}
.danger-81 {
  color: #fff;
  background: rgba(244, 67, 54, 0.81);
  background-color: rgba(244, 67, 54, 0.81);
}
.info-81 {
  color: #fff;
  background: rgba(33, 150, 243, 0.81);
  background-color: rgba(33, 150, 243, 0.81);
}
.success-81 {
  color: #fff;
  background: rgba(76, 175, 80, 0.81);
  background-color: rgba(76, 175, 80, 0.81);
}
.warning-81 {
  color: #fff;
  background: rgba(255, 87, 34, 0.81);
  background-color: rgba(255, 87, 34, 0.81);
}
.danger-80 {
  color: #fff;
  background: rgba(244, 67, 54, 0.8);
  background-color: rgba(244, 67, 54, 0.8);
}
.info-80 {
  color: #fff;
  background: rgba(33, 150, 243, 0.8);
  background-color: rgba(33, 150, 243, 0.8);
}
.success-80 {
  color: #fff;
  background: rgba(76, 175, 80, 0.8);
  background-color: rgba(76, 175, 80, 0.8);
}
.warning-80 {
  color: #fff;
  background: rgba(255, 87, 34, 0.8);
  background-color: rgba(255, 87, 34, 0.8);
}
.danger-79 {
  color: #fff;
  background: rgba(244, 67, 54, 0.79);
  background-color: rgba(244, 67, 54, 0.79);
}
.info-79 {
  color: #fff;
  background: rgba(33, 150, 243, 0.79);
  background-color: rgba(33, 150, 243, 0.79);
}
.success-79 {
  color: #fff;
  background: rgba(76, 175, 80, 0.79);
  background-color: rgba(76, 175, 80, 0.79);
}
.warning-79 {
  color: #fff;
  background: rgba(255, 87, 34, 0.79);
  background-color: rgba(255, 87, 34, 0.79);
}
.danger-78 {
  color: #fff;
  background: rgba(244, 67, 54, 0.78);
  background-color: rgba(244, 67, 54, 0.78);
}
.info-78 {
  color: #fff;
  background: rgba(33, 150, 243, 0.78);
  background-color: rgba(33, 150, 243, 0.78);
}
.success-78 {
  color: #fff;
  background: rgba(76, 175, 80, 0.78);
  background-color: rgba(76, 175, 80, 0.78);
}
.warning-78 {
  color: #fff;
  background: rgba(255, 87, 34, 0.78);
  background-color: rgba(255, 87, 34, 0.78);
}
.danger-77 {
  color: #fff;
  background: rgba(244, 67, 54, 0.77);
  background-color: rgba(244, 67, 54, 0.77);
}
.info-77 {
  color: #fff;
  background: rgba(33, 150, 243, 0.77);
  background-color: rgba(33, 150, 243, 0.77);
}
.success-77 {
  color: #fff;
  background: rgba(76, 175, 80, 0.77);
  background-color: rgba(76, 175, 80, 0.77);
}
.warning-77 {
  color: #fff;
  background: rgba(255, 87, 34, 0.77);
  background-color: rgba(255, 87, 34, 0.77);
}
.danger-76 {
  color: #fff;
  background: rgba(244, 67, 54, 0.76);
  background-color: rgba(244, 67, 54, 0.76);
}
.info-76 {
  color: #fff;
  background: rgba(33, 150, 243, 0.76);
  background-color: rgba(33, 150, 243, 0.76);
}
.success-76 {
  color: #fff;
  background: rgba(76, 175, 80, 0.76);
  background-color: rgba(76, 175, 80, 0.76);
}
.warning-76 {
  color: #fff;
  background: rgba(255, 87, 34, 0.76);
  background-color: rgba(255, 87, 34, 0.76);
}
.danger-75 {
  color: #fff;
  background: rgba(244, 67, 54, 0.75);
  background-color: rgba(244, 67, 54, 0.75);
}
.info-75 {
  color: #fff;
  background: rgba(33, 150, 243, 0.75);
  background-color: rgba(33, 150, 243, 0.75);
}
.success-75 {
  color: #fff;
  background: rgba(76, 175, 80, 0.75);
  background-color: rgba(76, 175, 80, 0.75);
}
.warning-75 {
  color: #fff;
  background: rgba(255, 87, 34, 0.75);
  background-color: rgba(255, 87, 34, 0.75);
}
.danger-74 {
  color: #fff;
  background: rgba(244, 67, 54, 0.74);
  background-color: rgba(244, 67, 54, 0.74);
}
.info-74 {
  color: #fff;
  background: rgba(33, 150, 243, 0.74);
  background-color: rgba(33, 150, 243, 0.74);
}
.success-74 {
  color: #fff;
  background: rgba(76, 175, 80, 0.74);
  background-color: rgba(76, 175, 80, 0.74);
}
.warning-74 {
  color: #fff;
  background: rgba(255, 87, 34, 0.74);
  background-color: rgba(255, 87, 34, 0.74);
}
.danger-73 {
  color: #fff;
  background: rgba(244, 67, 54, 0.73);
  background-color: rgba(244, 67, 54, 0.73);
}
.info-73 {
  color: #fff;
  background: rgba(33, 150, 243, 0.73);
  background-color: rgba(33, 150, 243, 0.73);
}
.success-73 {
  color: #fff;
  background: rgba(76, 175, 80, 0.73);
  background-color: rgba(76, 175, 80, 0.73);
}
.warning-73 {
  color: #fff;
  background: rgba(255, 87, 34, 0.73);
  background-color: rgba(255, 87, 34, 0.73);
}
.danger-72 {
  color: #fff;
  background: rgba(244, 67, 54, 0.72);
  background-color: rgba(244, 67, 54, 0.72);
}
.info-72 {
  color: #fff;
  background: rgba(33, 150, 243, 0.72);
  background-color: rgba(33, 150, 243, 0.72);
}
.success-72 {
  color: #fff;
  background: rgba(76, 175, 80, 0.72);
  background-color: rgba(76, 175, 80, 0.72);
}
.warning-72 {
  color: #fff;
  background: rgba(255, 87, 34, 0.72);
  background-color: rgba(255, 87, 34, 0.72);
}
.danger-71 {
  color: #fff;
  background: rgba(244, 67, 54, 0.71);
  background-color: rgba(244, 67, 54, 0.71);
}
.info-71 {
  color: #fff;
  background: rgba(33, 150, 243, 0.71);
  background-color: rgba(33, 150, 243, 0.71);
}
.success-71 {
  color: #fff;
  background: rgba(76, 175, 80, 0.71);
  background-color: rgba(76, 175, 80, 0.71);
}
.warning-71 {
  color: #fff;
  background: rgba(255, 87, 34, 0.71);
  background-color: rgba(255, 87, 34, 0.71);
}
.danger-70 {
  color: #fff;
  background: rgba(244, 67, 54, 0.7);
  background-color: rgba(244, 67, 54, 0.7);
}
.info-70 {
  color: #fff;
  background: rgba(33, 150, 243, 0.7);
  background-color: rgba(33, 150, 243, 0.7);
}
.success-70 {
  color: #fff;
  background: rgba(76, 175, 80, 0.7);
  background-color: rgba(76, 175, 80, 0.7);
}
.warning-70 {
  color: #fff;
  background: rgba(255, 87, 34, 0.7);
  background-color: rgba(255, 87, 34, 0.7);
}
.danger-69 {
  color: #fff;
  background: rgba(244, 67, 54, 0.69);
  background-color: rgba(244, 67, 54, 0.69);
}
.info-69 {
  color: #fff;
  background: rgba(33, 150, 243, 0.69);
  background-color: rgba(33, 150, 243, 0.69);
}
.success-69 {
  color: #fff;
  background: rgba(76, 175, 80, 0.69);
  background-color: rgba(76, 175, 80, 0.69);
}
.warning-69 {
  color: #fff;
  background: rgba(255, 87, 34, 0.69);
  background-color: rgba(255, 87, 34, 0.69);
}
.danger-68 {
  color: #fff;
  background: rgba(244, 67, 54, 0.68);
  background-color: rgba(244, 67, 54, 0.68);
}
.info-68 {
  color: #fff;
  background: rgba(33, 150, 243, 0.68);
  background-color: rgba(33, 150, 243, 0.68);
}
.success-68 {
  color: #fff;
  background: rgba(76, 175, 80, 0.68);
  background-color: rgba(76, 175, 80, 0.68);
}
.warning-68 {
  color: #fff;
  background: rgba(255, 87, 34, 0.68);
  background-color: rgba(255, 87, 34, 0.68);
}
.danger-67 {
  color: #fff;
  background: rgba(244, 67, 54, 0.67);
  background-color: rgba(244, 67, 54, 0.67);
}
.info-67 {
  color: #fff;
  background: rgba(33, 150, 243, 0.67);
  background-color: rgba(33, 150, 243, 0.67);
}
.success-67 {
  color: #fff;
  background: rgba(76, 175, 80, 0.67);
  background-color: rgba(76, 175, 80, 0.67);
}
.warning-67 {
  color: #fff;
  background: rgba(255, 87, 34, 0.67);
  background-color: rgba(255, 87, 34, 0.67);
}
.danger-66 {
  color: #fff;
  background: rgba(244, 67, 54, 0.66);
  background-color: rgba(244, 67, 54, 0.66);
}
.info-66 {
  color: #fff;
  background: rgba(33, 150, 243, 0.66);
  background-color: rgba(33, 150, 243, 0.66);
}
.success-66 {
  color: #fff;
  background: rgba(76, 175, 80, 0.66);
  background-color: rgba(76, 175, 80, 0.66);
}
.warning-66 {
  color: #fff;
  background: rgba(255, 87, 34, 0.66);
  background-color: rgba(255, 87, 34, 0.66);
}
.danger-65 {
  color: #fff;
  background: rgba(244, 67, 54, 0.65);
  background-color: rgba(244, 67, 54, 0.65);
}
.info-65 {
  color: #fff;
  background: rgba(33, 150, 243, 0.65);
  background-color: rgba(33, 150, 243, 0.65);
}
.success-65 {
  color: #fff;
  background: rgba(76, 175, 80, 0.65);
  background-color: rgba(76, 175, 80, 0.65);
}
.warning-65 {
  color: #fff;
  background: rgba(255, 87, 34, 0.65);
  background-color: rgba(255, 87, 34, 0.65);
}
.danger-64 {
  color: #fff;
  background: rgba(244, 67, 54, 0.64);
  background-color: rgba(244, 67, 54, 0.64);
}
.info-64 {
  color: #fff;
  background: rgba(33, 150, 243, 0.64);
  background-color: rgba(33, 150, 243, 0.64);
}
.success-64 {
  color: #fff;
  background: rgba(76, 175, 80, 0.64);
  background-color: rgba(76, 175, 80, 0.64);
}
.warning-64 {
  color: #fff;
  background: rgba(255, 87, 34, 0.64);
  background-color: rgba(255, 87, 34, 0.64);
}
.danger-63 {
  color: #fff;
  background: rgba(244, 67, 54, 0.63);
  background-color: rgba(244, 67, 54, 0.63);
}
.info-63 {
  color: #fff;
  background: rgba(33, 150, 243, 0.63);
  background-color: rgba(33, 150, 243, 0.63);
}
.success-63 {
  color: #fff;
  background: rgba(76, 175, 80, 0.63);
  background-color: rgba(76, 175, 80, 0.63);
}
.warning-63 {
  color: #fff;
  background: rgba(255, 87, 34, 0.63);
  background-color: rgba(255, 87, 34, 0.63);
}
.danger-62 {
  color: #fff;
  background: rgba(244, 67, 54, 0.62);
  background-color: rgba(244, 67, 54, 0.62);
}
.info-62 {
  color: #fff;
  background: rgba(33, 150, 243, 0.62);
  background-color: rgba(33, 150, 243, 0.62);
}
.success-62 {
  color: #fff;
  background: rgba(76, 175, 80, 0.62);
  background-color: rgba(76, 175, 80, 0.62);
}
.warning-62 {
  color: #fff;
  background: rgba(255, 87, 34, 0.62);
  background-color: rgba(255, 87, 34, 0.62);
}
.danger-61 {
  color: #fff;
  background: rgba(244, 67, 54, 0.61);
  background-color: rgba(244, 67, 54, 0.61);
}
.info-61 {
  color: #fff;
  background: rgba(33, 150, 243, 0.61);
  background-color: rgba(33, 150, 243, 0.61);
}
.success-61 {
  color: #fff;
  background: rgba(76, 175, 80, 0.61);
  background-color: rgba(76, 175, 80, 0.61);
}
.warning-61 {
  color: #fff;
  background: rgba(255, 87, 34, 0.61);
  background-color: rgba(255, 87, 34, 0.61);
}
.danger-60 {
  color: #fff;
  background: rgba(244, 67, 54, 0.6);
  background-color: rgba(244, 67, 54, 0.6);
}
.info-60 {
  color: #fff;
  background: rgba(33, 150, 243, 0.6);
  background-color: rgba(33, 150, 243, 0.6);
}
.success-60 {
  color: #fff;
  background: rgba(76, 175, 80, 0.6);
  background-color: rgba(76, 175, 80, 0.6);
}
.warning-60 {
  color: #fff;
  background: rgba(255, 87, 34, 0.6);
  background-color: rgba(255, 87, 34, 0.6);
}
.danger-59 {
  color: #fff;
  background: rgba(244, 67, 54, 0.59);
  background-color: rgba(244, 67, 54, 0.59);
}
.info-59 {
  color: #fff;
  background: rgba(33, 150, 243, 0.59);
  background-color: rgba(33, 150, 243, 0.59);
}
.success-59 {
  color: #fff;
  background: rgba(76, 175, 80, 0.59);
  background-color: rgba(76, 175, 80, 0.59);
}
.warning-59 {
  color: #fff;
  background: rgba(255, 87, 34, 0.59);
  background-color: rgba(255, 87, 34, 0.59);
}
.danger-58 {
  color: #fff;
  background: rgba(244, 67, 54, 0.58);
  background-color: rgba(244, 67, 54, 0.58);
}
.info-58 {
  color: #fff;
  background: rgba(33, 150, 243, 0.58);
  background-color: rgba(33, 150, 243, 0.58);
}
.success-58 {
  color: #fff;
  background: rgba(76, 175, 80, 0.58);
  background-color: rgba(76, 175, 80, 0.58);
}
.warning-58 {
  color: #fff;
  background: rgba(255, 87, 34, 0.58);
  background-color: rgba(255, 87, 34, 0.58);
}
.danger-57 {
  color: #fff;
  background: rgba(244, 67, 54, 0.57);
  background-color: rgba(244, 67, 54, 0.57);
}
.info-57 {
  color: #fff;
  background: rgba(33, 150, 243, 0.57);
  background-color: rgba(33, 150, 243, 0.57);
}
.success-57 {
  color: #fff;
  background: rgba(76, 175, 80, 0.57);
  background-color: rgba(76, 175, 80, 0.57);
}
.warning-57 {
  color: #fff;
  background: rgba(255, 87, 34, 0.57);
  background-color: rgba(255, 87, 34, 0.57);
}
.danger-56 {
  color: #fff;
  background: rgba(244, 67, 54, 0.56);
  background-color: rgba(244, 67, 54, 0.56);
}
.info-56 {
  color: #fff;
  background: rgba(33, 150, 243, 0.56);
  background-color: rgba(33, 150, 243, 0.56);
}
.success-56 {
  color: #fff;
  background: rgba(76, 175, 80, 0.56);
  background-color: rgba(76, 175, 80, 0.56);
}
.warning-56 {
  color: #fff;
  background: rgba(255, 87, 34, 0.56);
  background-color: rgba(255, 87, 34, 0.56);
}
.danger-55 {
  color: #fff;
  background: rgba(244, 67, 54, 0.55);
  background-color: rgba(244, 67, 54, 0.55);
}
.info-55 {
  color: #fff;
  background: rgba(33, 150, 243, 0.55);
  background-color: rgba(33, 150, 243, 0.55);
}
.success-55 {
  color: #fff;
  background: rgba(76, 175, 80, 0.55);
  background-color: rgba(76, 175, 80, 0.55);
}
.warning-55 {
  color: #fff;
  background: rgba(255, 87, 34, 0.55);
  background-color: rgba(255, 87, 34, 0.55);
}
.danger-54 {
  color: #fff;
  background: rgba(244, 67, 54, 0.54);
  background-color: rgba(244, 67, 54, 0.54);
}
.info-54 {
  color: #fff;
  background: rgba(33, 150, 243, 0.54);
  background-color: rgba(33, 150, 243, 0.54);
}
.success-54 {
  color: #fff;
  background: rgba(76, 175, 80, 0.54);
  background-color: rgba(76, 175, 80, 0.54);
}
.warning-54 {
  color: #fff;
  background: rgba(255, 87, 34, 0.54);
  background-color: rgba(255, 87, 34, 0.54);
}
.danger-53 {
  color: #fff;
  background: rgba(244, 67, 54, 0.53);
  background-color: rgba(244, 67, 54, 0.53);
}
.info-53 {
  color: #fff;
  background: rgba(33, 150, 243, 0.53);
  background-color: rgba(33, 150, 243, 0.53);
}
.success-53 {
  color: #fff;
  background: rgba(76, 175, 80, 0.53);
  background-color: rgba(76, 175, 80, 0.53);
}
.warning-53 {
  color: #fff;
  background: rgba(255, 87, 34, 0.53);
  background-color: rgba(255, 87, 34, 0.53);
}
.danger-52 {
  color: #fff;
  background: rgba(244, 67, 54, 0.52);
  background-color: rgba(244, 67, 54, 0.52);
}
.info-52 {
  color: #fff;
  background: rgba(33, 150, 243, 0.52);
  background-color: rgba(33, 150, 243, 0.52);
}
.success-52 {
  color: #fff;
  background: rgba(76, 175, 80, 0.52);
  background-color: rgba(76, 175, 80, 0.52);
}
.warning-52 {
  color: #fff;
  background: rgba(255, 87, 34, 0.52);
  background-color: rgba(255, 87, 34, 0.52);
}
.danger-51 {
  color: #fff;
  background: rgba(244, 67, 54, 0.51);
  background-color: rgba(244, 67, 54, 0.51);
}
.info-51 {
  color: #fff;
  background: rgba(33, 150, 243, 0.51);
  background-color: rgba(33, 150, 243, 0.51);
}
.success-51 {
  color: #fff;
  background: rgba(76, 175, 80, 0.51);
  background-color: rgba(76, 175, 80, 0.51);
}
.warning-51 {
  color: #fff;
  background: rgba(255, 87, 34, 0.51);
  background-color: rgba(255, 87, 34, 0.51);
}
.danger-50 {
  color: #fff;
  background: rgba(244, 67, 54, 0.5);
  background-color: rgba(244, 67, 54, 0.5);
}
.info-50 {
  color: #fff;
  background: rgba(33, 150, 243, 0.5);
  background-color: rgba(33, 150, 243, 0.5);
}
.success-50 {
  color: #fff;
  background: rgba(76, 175, 80, 0.5);
  background-color: rgba(76, 175, 80, 0.5);
}
.warning-50 {
  color: #fff;
  background: rgba(255, 87, 34, 0.5);
  background-color: rgba(255, 87, 34, 0.5);
}
.danger-49 {
  color: #fff;
  background: rgba(244, 67, 54, 0.49);
  background-color: rgba(244, 67, 54, 0.49);
}
.info-49 {
  color: #fff;
  background: rgba(33, 150, 243, 0.49);
  background-color: rgba(33, 150, 243, 0.49);
}
.success-49 {
  color: #fff;
  background: rgba(76, 175, 80, 0.49);
  background-color: rgba(76, 175, 80, 0.49);
}
.warning-49 {
  color: #fff;
  background: rgba(255, 87, 34, 0.49);
  background-color: rgba(255, 87, 34, 0.49);
}
.danger-48 {
  color: #fff;
  background: rgba(244, 67, 54, 0.48);
  background-color: rgba(244, 67, 54, 0.48);
}
.info-48 {
  color: #fff;
  background: rgba(33, 150, 243, 0.48);
  background-color: rgba(33, 150, 243, 0.48);
}
.success-48 {
  color: #fff;
  background: rgba(76, 175, 80, 0.48);
  background-color: rgba(76, 175, 80, 0.48);
}
.warning-48 {
  color: #fff;
  background: rgba(255, 87, 34, 0.48);
  background-color: rgba(255, 87, 34, 0.48);
}
.danger-47 {
  color: #fff;
  background: rgba(244, 67, 54, 0.47);
  background-color: rgba(244, 67, 54, 0.47);
}
.info-47 {
  color: #fff;
  background: rgba(33, 150, 243, 0.47);
  background-color: rgba(33, 150, 243, 0.47);
}
.success-47 {
  color: #fff;
  background: rgba(76, 175, 80, 0.47);
  background-color: rgba(76, 175, 80, 0.47);
}
.warning-47 {
  color: #fff;
  background: rgba(255, 87, 34, 0.47);
  background-color: rgba(255, 87, 34, 0.47);
}
.danger-46 {
  color: #fff;
  background: rgba(244, 67, 54, 0.46);
  background-color: rgba(244, 67, 54, 0.46);
}
.info-46 {
  color: #fff;
  background: rgba(33, 150, 243, 0.46);
  background-color: rgba(33, 150, 243, 0.46);
}
.success-46 {
  color: #fff;
  background: rgba(76, 175, 80, 0.46);
  background-color: rgba(76, 175, 80, 0.46);
}
.warning-46 {
  color: #fff;
  background: rgba(255, 87, 34, 0.46);
  background-color: rgba(255, 87, 34, 0.46);
}
.danger-45 {
  color: #fff;
  background: rgba(244, 67, 54, 0.45);
  background-color: rgba(244, 67, 54, 0.45);
}
.info-45 {
  color: #fff;
  background: rgba(33, 150, 243, 0.45);
  background-color: rgba(33, 150, 243, 0.45);
}
.success-45 {
  color: #fff;
  background: rgba(76, 175, 80, 0.45);
  background-color: rgba(76, 175, 80, 0.45);
}
.warning-45 {
  color: #fff;
  background: rgba(255, 87, 34, 0.45);
  background-color: rgba(255, 87, 34, 0.45);
}
.danger-44 {
  color: #fff;
  background: rgba(244, 67, 54, 0.44);
  background-color: rgba(244, 67, 54, 0.44);
}
.info-44 {
  color: #fff;
  background: rgba(33, 150, 243, 0.44);
  background-color: rgba(33, 150, 243, 0.44);
}
.success-44 {
  color: #fff;
  background: rgba(76, 175, 80, 0.44);
  background-color: rgba(76, 175, 80, 0.44);
}
.warning-44 {
  color: #fff;
  background: rgba(255, 87, 34, 0.44);
  background-color: rgba(255, 87, 34, 0.44);
}
.danger-43 {
  color: #fff;
  background: rgba(244, 67, 54, 0.43);
  background-color: rgba(244, 67, 54, 0.43);
}
.info-43 {
  color: #fff;
  background: rgba(33, 150, 243, 0.43);
  background-color: rgba(33, 150, 243, 0.43);
}
.success-43 {
  color: #fff;
  background: rgba(76, 175, 80, 0.43);
  background-color: rgba(76, 175, 80, 0.43);
}
.warning-43 {
  color: #fff;
  background: rgba(255, 87, 34, 0.43);
  background-color: rgba(255, 87, 34, 0.43);
}
.danger-42 {
  color: #fff;
  background: rgba(244, 67, 54, 0.42);
  background-color: rgba(244, 67, 54, 0.42);
}
.info-42 {
  color: #fff;
  background: rgba(33, 150, 243, 0.42);
  background-color: rgba(33, 150, 243, 0.42);
}
.success-42 {
  color: #fff;
  background: rgba(76, 175, 80, 0.42);
  background-color: rgba(76, 175, 80, 0.42);
}
.warning-42 {
  color: #fff;
  background: rgba(255, 87, 34, 0.42);
  background-color: rgba(255, 87, 34, 0.42);
}
.danger-41 {
  color: #fff;
  background: rgba(244, 67, 54, 0.41);
  background-color: rgba(244, 67, 54, 0.41);
}
.info-41 {
  color: #fff;
  background: rgba(33, 150, 243, 0.41);
  background-color: rgba(33, 150, 243, 0.41);
}
.success-41 {
  color: #fff;
  background: rgba(76, 175, 80, 0.41);
  background-color: rgba(76, 175, 80, 0.41);
}
.warning-41 {
  color: #fff;
  background: rgba(255, 87, 34, 0.41);
  background-color: rgba(255, 87, 34, 0.41);
}
.danger-40 {
  color: #fff;
  background: rgba(244, 67, 54, 0.4);
  background-color: rgba(244, 67, 54, 0.4);
}
.info-40 {
  color: #fff;
  background: rgba(33, 150, 243, 0.4);
  background-color: rgba(33, 150, 243, 0.4);
}
.success-40 {
  color: #fff;
  background: rgba(76, 175, 80, 0.4);
  background-color: rgba(76, 175, 80, 0.4);
}
.warning-40 {
  color: #fff;
  background: rgba(255, 87, 34, 0.4);
  background-color: rgba(255, 87, 34, 0.4);
}
